#DATABASE_URL="postgresql://postgres:postgres@localhost:5432/crudteste"
DATABASE_URL="postgresql://neondb_owner:npg_C6xuWPNwe5sK@ep-long-paper-acjfq8uq-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="OASHOA02934SKLDN20PSKNDG\(%*(*%$*@#.65465.ASDASD234234)123125RFCDSFD)MTNHSFDSD2W"
PORT=3333
CORS_ORIGIN="http://localhost:5173"